{% extends 'base.html.twig' %}

{% block title %}Votre Panier{% endblock %}

{% block body %}
<div class="cart-container">
    <h2 class="cart-title">
        <i class="fas fa-shopping-cart"></i> Mon Panier
    </h2>

    {% if cart is not empty %}
        <div class="cart-items">
            {% for item in cart %}
                <div class="cart-item">
                    <img src="{{ asset('build/images/' ~ item.image) }}" alt="{{ item.name }}">
                    <span class="cart-item-name">{{ item.name }}</span>
                    <span class="cart-item-quantity">{{ item.quantity }} x {{ item.price }} €</span>
                    <span class="cart-item-total">Total: {{ item.quantity * item.price }} €</span>
                    <button class="remove-item ms-3" data-id="{{ item.id }}">✖</button>
                </div>
            {% endfor %}
        </div>

        <div class="cart-footer">
            <h4>Total: {{ cart|reduce((acc, item) => acc + item.quantity * item.price, 0) }} €</h4>
            <div class="cart-actions">
                <button class="clear-cart vider-panier">Vider le panier</button>
                <a href="{{ path('app_commande') }} " class="checkout-btn">Commander</a>
            </div>
        </div>
    {% else %}
        <p class="cart-empty-message">Votre panier est vide.</p>
    {% endif %}
</div>
{% endblock %}
